.fill-border {
    background: #ededed;
    border-radius: 10px;
}

.border {
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

.line {
    border: 1px solid #e2e2e2;
}

.round {
    border-radius: 10px;
}

.circle {
    border-radius: 1000px;
}

.icon-size {
    width: 20px;
    height: 20px;
}

.cp {
    cursor: pointer;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


